/**
 * Copyright Flexible Software Solutions S.L. 2014
 *
 * This file is adapted from RedMon,
 * Copyright (C) 1997-2012, Ghostgum Software Pty Ltd.  All rights reserved.
 *
 * Support for Windows NT <5.0 has been removed.
 */

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Flexible Software Solutions\000"
   VALUE "FileDescription", "flexVDI Redirected Port Monitor DLL\000"
   VALUE "FileVersion", "1.00.00\000"
   VALUE "InternalName", "flexVDIprint_redmon.dll\000"
   VALUE "LegalCopyright", "Copyright \251 Flexible Software Solutions S.L. 2014\000"
   VALUE "OriginalFilename", "REDMON\000"
   VALUE "ProductName", "flexVDI Redirected Port Monitor\000"
   VALUE "ProductVersion", "1.00.00\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}
