[Unit]
Description=flexVDI Guest Agent

[Service]
ExecStartPre=/bin/rm -f /var/run/flexvdi_pipe
ExecStart=/usr/local/bin/flexvdi-guest-agent

[Install]
WantedBy=multi-user.target
