* {
    font-family: Lato;
    font-style: normal;
    font-size: x-large;
    color: #444;
}

#header {
    background-image: linear-gradient(to right, #00a1c1 60%, #356879 100%);
    border: 0;
}

#content-box {
    background-color: #fff;
}

#status {
    background-image: linear-gradient(to top, #444 95%, #000 100%);
}

#status label {
    font-style: italic;
    font-size: 80%;
    color: #fff;
}

#status label.error {
    color: #ff5b00;
}

#info, #version {
    font-size: 70%;
    color: #bbb;
}

entry:focus {
    border-color: #00a1c1;
}

button {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

#header button {
    border: none;
}

#header button:hover {
    border: none;
    box-shadow: none;
    -gtk-icon-effect: none;
    background-color: rgba(255, 255, 255, 0.2);
}

stack button {
    background-color: #00a1c1;
    border-color: transparent;
}

stack button:hover {
    background-color: #5db9cc;
}

stack button:focus {
    border-color: rgba(255, 208, 0, 0.5);
}

stack button label {
    color: #ffffff;
}

treeview:hover, treeview:selected {
    background-color: #5db9cc;
    color: #ffffff;
}
